---
layout: post
---

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js">
</script>

<script src="/assets/encrypted.js"></script>

<div style="padding:0px 10px 10px 10px;">
    <div id="encrypted_block" style="display: none;">
        <button id="btn_decrypt" type="button" onclick='document.getElementById("encrypted_content").innerHTML = decrypt.toString(CryptoJS.enc.Utf8)'>Decrypt</button>
    </div>

    <div id="decrypted_block" style="display: none;">
        <button id="btn_encrypt" type="button" onclick='document.getElementById("encrypted_content").innerHTML = encrypted.toString()'>Encrypt</button>
        <button id="btn_copy" onclick="CopyToClipboard('encrypted_content')">Copy to Clipboard</button>
    </div>
</div>

<div class="parent">
    <div class="child" id="encrypted_content">{{content}}</div>
</div>

<script src="/assets/views.js"></script>